<!doctype html>
<html lang="en">
<link rel="stylesheet" type="text/html" href="/public/css/style.css">

<% include parts/header.ejs %>

  <body>
    <% include parts/menu.ejs %>

      <div class="imgdivheader">
        <img class="imgheader" src="asset/assets/img/header.jpg" alt="footer">
      </div>


      <div class="container">

        <!-- <div id="myDIV" class="hide"> -->
        <!-- </div> -->


        <h1>Liste des stations de la ligne : <%= line.name %></h1>


        <style>
          .metro {
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            background-color: red;
            text-align: center;
            display: block;
            line-height: 50px;
            position: absolute;
            left: 0;
            -webkit-transition: left 10s;
            -moz-transition: left 1s;
            -ms-transition: left 1s;
            -o-transition: left 1s;
            transition: left 1s;
          }
        </style>
        <% line.stations.forEach(function (station) { %>
          <span class="stations" id="station-<%= station.id %>"></span>
          <%= station.name %>
          <span class="stations-status" id="station-status-<%= station.id %>" data-id="<%= station.id %>" data-status="<%= station.open %>"><% if(station.open){ %> ✅ <% } else { %> ❌ <% } %></span>
            <br>
            <% }) %>
              <style>
                .metro {
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  border-radius: 50%;
                  height: 50px;
                  width: 50px;
                  background-color: red;
                  text-align: center;
                  display: block;
                  line-height: 50px;
                  position: absolute;
                  left: 0;
                  -webkit-transition: left 10s;
                  -moz-transition: left 1s;
                  -ms-transition: left 1s;
                  -o-transition: left 1s;
                  transition: left 1s;
                }
              </style>

              <button class="hidebutton" onclick="myFunction()">Cliquez pour voir notre métro</button>
              <img id="myIMG" class="imghide" src="asset/assets/img/metroprojet.png" alt="">
              <div class="menu">
                <button id="start" type="button" class="btn btn-success buttondem">Démarrer</button>
                <button id="emergency" type="button" class="btn btn-danger">Arrêt d'urgence</button>
                <button id="safeitude" type="button" class="btn btn-warning" disabled>Fin de l'arret d'urgence</button>
                <button id="garage" type="button" class="btn btn-info">Garage</button>
                <button id="last" type="button" class="btn btn-primary">Dernier métro</button>
              </div>

              <div class="mt-5">

                <div id="jauge" class="c100 small">
                  <span><span id="speed"></span> Km/h</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
                Dist : <span id="distance"></span> m Dist : <span id="distance-p"></span> %
              </div>

      </div>

      <!-- <div class="imgdivfooter">
        <img class="imgfooter" src="asset/assets/img/footer.jpg" alt="footer">
      </div> -->

      <div class="progress-container">

        <ul>
          <div class="namemetro">Station : <span id="currStation"></span></div>
          <li class="buttonmetro"></li>
          <div class="namemetrotwo">Prochaine Station : <span id="nextStation"></span></div>
          <li class="buttonmetrotwo"></li>
        </ul>
        <div class="progress-bar"></div>
      </div>
      <!-- <div class="progress-bar"></div> -->

      <% include parts/footer.ejs %>
  </body>

</html>

<script>
  var socket = io('http://localhost:8080');
  socket.on('connect', function(data) {
    socket.emit('join', 'Hello World from client');
  });

  socket.on('close', function(data) {
    console.log('closing door of metro ' + data);
    $("#metro-" + data).css('background-color', 'green');
    var left = parseInt($("#metro-" + data).css('left'));
    $("#metro-" + data).css('left', left + 50);
  });

  socket.on('open', function(data) {
    console.log('opening door of metro ' + data);
    $("#metro-" + data).css('background-color', 'red');
  });

  socket.on('speed', function(data, phase) {
    color = null;
    switch (phase) {
      case 'acceleration':
        color = 'green';
        break;
      case 'cruise':
        color = '';
        break;
      case 'brake':
        color = 'orange';
        break;
      case 'emergency':
        color = 'red';
        break;
    }
    $("#speed").html(Math.round(data))
    $("#jauge").removeClass().addClass('c100 p' + Math.round((Math.round(data, -1) * 100) / 60, -1) + ' small ' + color);
  })

  socket.on('dist', function(dist, percent) {
    $("#distance").html(Math.round(dist))
    $("#distance-p").html(Math.round(percent))
  })

  $("#start").on('click', function() {
    socket.emit('start')
    $(this).attr('disabled', true)
  })

  socket.on('arrived', function(id) {
    $("#start").attr('disabled', false)
    $(".stations").each(function() {
      $(this).html('')
    })
    $("#station-" + id).html("💡")
  })

  socket.on('dist', function(dist, percent) {
    $("#distance").html(Math.round(dist))
    $("#distance-p").html(Math.round(percent))
    $('.progress-bar').css({
      width: Math.round(percent) + "%"
    });
  })


  $("#emergency").on('click', function() {
    socket.emit('emergency')
    console.log('emergency')
    $(this).attr('disabled', true)
    $("#safeitude").attr('disabled', false)
  })

  $("#safeitude").on('click', function() {
    socket.emit('safeitude')
    console.log('safeitude')
    $(this).attr('disabled', true)
    $("#emergency").attr('disabled', false)
  })

  $("#garage").on('click', function() {
    socket.emit('garage')
    console.log('garage')
    $(this).toggleClass('active')
  })

  socket.on('start', function(current, next) {
    $("#currStation").html(current.name)
    $("#nextStation").html(next.name)
  })

  $(".stations-status").on('click', function () {
      let id = $(this).attr('data-id')
      if($(this).attr('data-status') == "true"){
          socket.emit('close-station', id)
      } else {
          socket.emit('open-station', id)
      }
  })

  socket.on('opening-station', function (id) {
      $("#station-status-" + id).html("✅")
      $("#station-status-" + id).attr("data-status", "true")
  })

  socket.on('closing-station', function (id) {
      $("#station-status-" + id).html("❌")
      $("#station-status-" + id).attr("data-status", "false")
  })

  $("#last").on('click', function() {
      socket.emit('last')
      console.log('last')
      $(this).toggleClass('active')
  })

  function myFunction() {
    var x = document.getElementById("myIMG");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";

    }
  }
</script>